name: divine_manager
description: "Cafe Divine Admin Manager App"
publish_to: 'none'

version: 1.0.2

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_riverpod: ^3.1.0
  animate_do: ^4.2.0
  fl_chart: ^1.1.1
  hive_flutter: ^1.1.0
  path_provider: ^2.1.5
  hive: ^2.2.3
  share_plus: ^12.0.1
  url_launcher: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  hive_generator: ^2.0.1
  build_runner: ^2.4.13

flutter:
  uses-material-design: true

  assets:
    - assets/images/

  fonts:
    - family: Lato
      fonts:
        - asset: assets/fonts/Lato-Regular.ttf
        - asset: assets/fonts/Lato-Bold.ttf